 body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: white; 
}

.container {
    display: flex;
}

.sidebar {
    overflow-y: auto;
    max-height: 100vh;
    width: 250px;
    background-color: #222; 
    color: #ffc107; 
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
}



.sidebar::-webkit-scrollbar {
    width: 8px; 
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.location {
    color: azure;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px; 
}

.location i {
    color: red; 
    margin-right: 5px; 
}

.profile img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding-left: 20px;
}

.profile h2 {
    font-size: 22px;
    margin-bottom: 5px;
    padding-left: 50px;
    color: white; 
}

.profile p {
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}

.nav-links {
    margin-top: 20px;
    width: 100%;
    flex-grow: 1;
}

.nav-card {
    background-color: #333; 
    margin: 10px 0;
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-card a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-card:hover {
    background-color: #444; 
}

/* Active state styling */
.nav-card.active {
    background-color: #ffc107; 
    color: black; 
}

.nav-card.active a {
    color: black; 
}

.resume-button {
    display: block;
    background-color: #444; 
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    margin: 20px 0;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #555;
}

.social-media-icons img {
    width: 50px;
    margin-left: 10px;
}

.social-links a {
    display: block;
    color: #ffc107; 
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: white; 
}

.contact-button {
    display: block;
    background-color: #444; 
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    margin: 30px 0;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #555; 
}
.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.memoji-inline {
    float: left; 
    margin-right: 15px;
    width: 100px; 
    height: auto; 
    border-radius: 50%; 
}


.fixed-image-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 180px; 
    height: auto;
    z-index: 1000;
}

.fixed-image-container img {
    width: 100%;
    height: auto;
}

.section {
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.section h2.section-title {
    font-size: 36px;
    color: #ffc107; 
    margin-bottom: 20px;
}

.section .section-content {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.section-visual {
    width: 250px; 
    position: absolute;
    top: 20px;
    left: 10px; 
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li:before {
    content: "•";
    color: #ffc107; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.bugs-bunny-image {
    display: block;
    margin: 5px auto; 
    width: 150px; 
    height: auto; 
}

background-color: #f5f5f5;
padding: 15px; 
margin-bottom: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.job h3 {
color: #333; 
margin-top: 0; 
}

.job p {
color: #555; 
} */







body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #222;
    color: #ffc107;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(-100%);
}

.toggle-button {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #222;
    color: #ffc107;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1001;
}

.toggle-sidebar {
    display: none; 
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 10;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-250px); 
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #222;
        z-index: 9;
        overflow-y: auto; 
    }


    

    .toggle-sidebar {
        display: block; 
    }

    .sidebar.active {
        transform: translateX(0); 
    }

    .content {
        padding-left: 20px;
    }
}

.profile img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 22px;
    margin-bottom: 5px;
    color: white;
}

.nav-links {
    margin-top: 20px;
    width: 100%;
    flex-grow: 1;
}

.nav-card {
    background-color: #333;
    margin: 10px 0;
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-card a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-card:hover {
    background-color: #444;
}

.nav-card.active {
    background-color: #ffc107;
    color: black;
}

.resume-button, .contact-button {
    display: block;
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    margin: 20px 0;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.resume-button:hover, .contact-button:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fixed-image-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 180px;
    z-index: 1000;
}

.fixed-image-container img {
    width: 100%;
    height: auto;
}

.section {
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.section h2.section-title {
    font-size: 36px;
    color: #ffc107;
    margin-bottom: 20px;
}

.section .section-content {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.section-visual {
    width: 250px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.bugs-bunny-image {
    display: block;
    margin: 5px auto;
    width: 150px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .toggle-button {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}
